header {
  background-color: rgb(117, 78, 115);
}


* {
   margin: 0;
 }
 
 header nav ul {
   list-style: none;
 }
 header nav ul li {
   display: inline-block;
   padding: 20px;
 }
 header nav ul li a {
   color: #eeeeee;
   text-decoration: none;
 }
 main  ol li a {
   color: rgb(234, 0, 255);
   text-decoration: none;
 }
 #home {
   color:rgb(161, 84, 138);
 }
#aboutus {
color : rgb(192, 125, 175);
}  

#contactus {
color: rgb(77, 52, 146);
}
 main h2 {
   text-align: center;
   margin: 20px 0px 20px 0px;
 }
 main  ol {
   list-style: none;
 }
 
 
 .coverd{

   clear: both;
   padding: 20px 0 40px 60px;
   margin: 50;
   color: rgb(0, 0, 0);

 }
 .paraghraph {
   clear: both;
   border: solid 1px rgb(0, 0, 0);
   padding: 20px 0 40px 60px;
   margin: 5px;
   color: rgb(234, 0, 255);
 }
 footer {
   background-color: rgb(117, 78, 115);
   padding: 20px ;
 }
#foot{

   color: rgb(0, 0, 0); 
}